* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("img/default.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: left center;
    height: 100vh;
}

.main {
    width: 55vh;
    padding: 15px;
    margin: 50px auto;
    text-align: center;
    border-radius: 5px;
    font-family: sans-serif;
    background-color: rgb(221, 34, 81);
}

.input-box {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    height: 50px;
    font-size: 1.1rem;
    border-radius: 5px;
    margin: 15px 0px;
    background-color: rgb(255, 255, 255);
}


.weather-body {
    padding: 20px;
    color: rgb(76, 95, 95);
    border-radius: 5px;
    height: 55vh;
    font-size: 1.5rem;
    background-color: rgb(245, 234, 240);
}

.location-detail {
    margin: 5px;
    font-weight: 600;
    line-height: 40px;

}

.temp {
    margin: 20px;
    font-size: 3.5rem;
    color: rgb(255, 0, 0);
    font-weight: bold;
}

.min-max {
    font-weight: 600;
}

.weather-type {
    margin: 20px;
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(255, 0, 0);
}
