* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url("img/default.jpg");
}

.main {
    width: 350px;
    padding: 15px;
    margin: 100px auto;
    text-align: center;
    border-radius: 5px;
    font-family: sans-serif;
    background-color: rgb(76, 126, 133);
}

.input-box {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    height: 50px;
    font-size: 1.1rem;
    border-radius: 5px;
    margin: 15px 0px;
    background-color: rgb(247, 246, 246);
}


.weather-body {
    padding: 20px;
    color: rgb(78, 84, 84);
    border-radius: 5px;
    height: 350px;
    font-size: 1.5rem;
    background-color: rgb(241, 241, 241);
}

.location-detail {
    margin: 5px;
    font-weight: 600;
    line-height: 40px;

}

.temp {
    margin: 20px;
    font-size: 3.5rem;
    color: orangered;
    font-weight: bold;
}

.min-max {
    font-weight: 600;
}

.weather-type {
    margin: 20px;
    font-size: 1.8rem;
    font-weight: 700;
    color: orangered;
}